@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family:Poppins-Medium; 
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-Bold; 
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-SemiBold; 
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family:Poppins-Thin ;
  src: url('./assets/fonts/Poppins/Poppins-Thin.ttf');
}
*{
  font-family: Poppins-Regular;
}
body{
  background: #E9EAEE;

}
.wrapper_container{
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}
.upper_wrapper{
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 50px;

}
.lower_wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}