.ui_wrapper_04{
    width: 355px;
    height: 130px;
    border-radius: 15px;
    background: #FBFCFE;
    box-shadow: 1px 5px 10px rgba(100,100,100,0.11);
}
.search_bar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-btn{
    width: 40px;
    height: 40px;
    background: #5471F3;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon{
    width: 30px;  
}
#search_input{
width: 260px;
padding:0 10px 0 10px; 
height: 40px;
outline: none;
border: none;
background: #E9EAEE;
border-radius: 6px;
}